
.EightBall.green {
  background-color: green;
}

.EightBall.goldenrod {
  background-color: goldenrod;
}

.EightBall.red {
  background-color: red;
}

.EightBall.black {
  background-color: black;
}

